.container {
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  padding: 1.5rem;
  background-color: var(--surface);
  border: 1px solid var(--accent);
}

.container:hover {
  box-shadow: 0 0 1rem var(--accent);
}

.innerContainer {
  margin-bottom: 0.5rem;
}

.category {
  color: var(--accent);
  font-size: small;
}

.default {
  color: var(--text);
}

p {
  margin: 0;
}

.cancelButton {
  cursor: pointer;
  margin-top: 0.5rem;
  padding: 0.5rem;
  background-color: var(--background);
  font-size: medium;
  font-weight: 600;
  border: 1px solid var(--background);
  border-radius: 0.5rem;
  box-sizing: content-box;
}

.cancelButton:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  pointer-events: none;
}

.cancelButton:hover {
  border: 1px solid var(--accent);
}

.cancelButton:active {
  text-shadow: 0 0 0.5rem var(--accent);
}
